/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-slide.fl-slide-0 .fl-slide-bg-photo {
    background-position: 0% 50%;
}
#responsive-menu-item-630933{
    display: none!important;
}