/**
Theme Name: astra-child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/


/*body{overflow-y:hidden;}*/

.fl-content-slider .fl-slide.fl-slide-2 {
    display: flex;
    align-items: center;
}

header .site-logo-img .custom-logo-link img {
    max-width: 265px;
}

.ast-above-header {
    background: #1d3349;
    color: #fff;
    border: 0;
}

.ast-search-box.header-cover {
    top: 75px !important;
}

.ast-above-header a {
    color: #fff !important;
}

.product-attributes table th,
.product-attributes table td {
    width: 50%;
}

.ast-above-header a:hover {
    color: #9dc0e2 !important;
}

.main-header-menu li {
    position: relative !important;
}

.main-header-menu li#menu-item-630933 {
    position: static !important;
}

.ast-separate-container {
    background: #fff;
}

.ast-search-box.header-cover .search-field {
    font-size: 1.2em !important;
}

#site-navigation .main-navigation ul#primary-menu ul.sub-menu li {
    position: relative !important;
}

.ast-separate-container #primary {
    margin: 0;
}

.ast-separate-container .ast-archive-description,
.ast-separate-container .ast-author-box {
    padding: 20px !important;
    margin-bottom: 30px;
    background: none;
}

.ast-archive-description .ast-archive-title {
    font-size: 30px;
}

.color_variations_slider .slide {
    max-width: 100%;
}


/*ul{
	  display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}*/

.mxht_325 img {
    max-height: 325px;
    width: 100%;
}

.address p {
    margin: 0px 7px 0px 0px;
    padding: 0px!important;
    display: inline;
}

.ast-above-header-section ul.storename {
    margin-bottom: 0;
    list-style-type: none;
}

.ast-above-header-section ul.storename li a {
    line-height: 60px;
    display: block;
    font-size: 18px;
}

.button-wrapper-default a,
.button-wrapper-default a.button {
    text-align: center !important;
}

.footer-sml-layout-1 .ast-small-footer-section-2 ul.storename li a {
    font-size: 18px;
}

.get-direction .storename a.fl-button {
    padding: 10px 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid #ffffff;
    background: transparent;
}

.get-direction .storename a.fl-button span {
    color: #fff;
}

.get-direction .storename a.fl-button:hover {
    border: 2px solid #207fdc;
    background: #207fdc;
}

.fl-node-5ca62683737f0 h3,
.fl-node-5ca62683737f0 h5,
.fl-node-5ca62585d2fc6 p {
    margin: 0px;
    padding: 0px;
}

#masthead .site-logo-img img {
    max-height: 75px;
    /* width: auto; */
}

.site-header .main-header-bar {
    position: relative;
}

.main-header-menu li {
    position: initial;
}

.site-header .header-search {
    position: absolute;
    right: -25px;
    top: 25px;
}

.site-header .astra-search-shortcode.cover {
    display: block;
}

.site-header .ast-search-icon .astra-search-icon {
    font-size: 26px;
    color: #000000;
}

.site-header .astra-search-shortcode.cover .close {
    margin-top: 7px;
}


/* .site-header .astra-search-shortcode > .ast-search-icon{ display: none !important;} */

.fl-slide-text-center .fl-slide-photo-wrap img {
    max-height: 400px;
}

.main-header-menu a {
    padding: 0 10px;
}

.img-full-width .uabb-module-content .uabb-photo-content,
.img-full-width .uabb-module-content .uabb-photo-content>.uabb-photo-img {
    width: 100%;
}

.page-list ul {
    display: inherit;
}

.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
    box-shadow: none !important;
}

.product-row .fl-post-grid-post .fl-post-grid-title>a {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    display: block;
}

.product-row .fl-post-grid-post .fl-post-grid-text .fl-button,
.product-row .fl-post-grid-post .fl-post-grid-text a.fl-button,
.open_sidebar a.fl-button {
    background: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
}

.product-row .fl-post-grid-post .fl-post-grid-text .fl-button span,
.open_sidebar a.fl-button span {
    color: #fff;
}

.product-row .fl-post-grid-post .fl-post-grid-text .fl-button:hover,
.open_sidebar a.fl-button:hover {
    background: #fff;
}

.product-row .fl-post-grid-post .fl-post-grid-text .fl-button:hover,
.product-row .fl-post-grid-post .fl-post-grid-text .fl-button:hover span,
.open_sidebar a.fl-button:hover,
.open_sidebar a.fl-button:hover span {
    color: #000;
}

body.single-carpeting #content,
body.single-hardwood_catalog #content,
body.single-laminate_catalog #content,
body.single-luxury_vinyl_tile #content,
body.single-tile_catalog #content,
body.single-solid_wpc_waterproof #content {
    background: #fff;
}

body.single-carpeting #content>.ast-container,
body.single-hardwood_catalog #content>.ast-container,
body.single-laminate_catalog #content>.ast-container,
body.single-luxury_vinyl_tile #content>.ast-container,
body.single-tile_catalog #content>.ast-container,
body.single-solid_wpc_waterproof #content>.ast-container {
    max-width: 100%;
    padding: 0;
}

body.single-carpeting article.ast-article-single,
body.single-hardwood_catalog #content article.ast-article-single,
body.single-laminate_catalog #content article.ast-article-single,
body.single-luxury_vinyl_tile #content article.ast-article-single,
body.single-tile_catalog #content article.ast-article-single,
body.single-solid_wpc_waterproof #content article.ast-article-single {
    padding: 0;
}

body.single-carpeting #content>.ast-container>.container,
body.single-hardwood_catalog #content>.ast-container>.container,
body.single-laminate_catalog #content>.ast-container>.container,
body.single-luxury_vinyl_tile #content>.ast-container>.container,
body.single-tile_catalog #content>.ast-container>.container,
body.single-solid_wpc_waterproof #content>.ast-container>.container {
    max-width: 1250px;
}

.footer_Links {
    margin-top: 10px;
}

.footer_Links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_Links ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
}

.footer_Links ul li a {
    font-size: 12px;
}


/* .uabb-ib-effect-style1.uabb-ib2-min-height img{ width: 115% !important;} */

.responsive-button-wrapper-default a,
.responsive-button-wrapper-default a.button {
    text-align: center !important;
}

.uabb-blog-posts-description .read-more {
    display: none;
}

/*
.fl-post-grid-post .product-grid.btn-grey a.fl-button,
.fl-post-grid-post .product-grid.btn-grey br,
.product-swatch-inner .button-wrapper-default .button.alt{
	display: none !important;
}*/

@media all and (max-width:1275px) {
    .header-main-layout-1 .main-header-container {
        margin: 0 10px 0 0;
    }
}

@media all and (max-width:1220px) {
    .main-header-bar>.ast-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .main-header-menu a {
        padding: 0 7px;
    }
}


/* @media all and (min-width:1210px){
    header .site-logo-img .custom-logo-link img{ width:350px;} 
} */

@media (max-width:1120px) {
    .header-main-layout-1 .main-header-container {
        margin-right: 0;
    }
    .site-header .header-search {
        right: 0;
    }
    .site-header .main-header-bar-wrap .site-branding {
        -js-display: flex;
        display: flex;
        flex: 1;
        align-self: center;
        text-align: center;
        padding: 0 55px;
    }
    .site-header .main-header-bar-wrap .site-branding .site-logo-img img {
        max-height: inherit !important;
        width: -webkit-fill-available !important;
    }
    .site-header .main-header-bar-wrap .site-branding .ast-site-identity {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .site-header .ast-mobile-menu-buttons {
        text-align: right;
        -js-display: flex;
        display: flex;
        justify-content: flex-end;
        align-self: center;
        position: absolute;
        top: 10px;
        left: 0;
    }
    .site-header .ast-main-header-bar-alignment {
        display: block;
        width: 100%;
        flex: auto;
        order: 4;
    }
    .site-header .main-header-bar .main-header-bar-navigation {
        line-height: 3;
        display: none;
        text-align: left;
    }
    .site-header .main-header-bar .main-navigation {
        padding-left: 0;
        display: block;
        width: 100%;
    }
    .site-header .main-header-bar .main-header-bar-navigation .main-header-menu {
        border-top-width: 1px;
        border-style: solid;
        border-color: #eaeaea;
        background-color: #f9f9f9;
    }
    .site-header .main-navigation li {
        width: 100%;
    }
    .site-header .main-navigation ul>li:first-child {
        border-top: 0;
    }
    .site-header .main-navigation ul .button-custom-menu-item a,
    .site-header .main-navigation ul li a {
        padding: 0 20px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #eaeaea !important;
    }
    .site-header .main-header-bar .main-header-bar-navigation .menu-item-has-children>a:after,
    .site-header .main-header-bar .main-header-bar-navigation .page_item_has_children>a:after {
        display: none;
    }
    .site-header .main-header-bar .main-header-bar-navigation .menu-item-has-children>.ast-menu-toggle,
    .site-header .main-header-bar .main-header-bar-navigation .page_item_has_children>.ast-menu-toggle {
        display: inline-block;
        position: absolute;
        font-size: inherit;
        top: -1px;
        right: 20px;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0 .907em;
        font-weight: 400;
        line-height: inherit;
        transition: all .2s;
    }
    .site-header .main-header-bar .main-header-bar-navigation .menu-item-has-children>.ast-menu-toggle::before,
    .site-header .main-header-bar .main-header-bar-navigation .page_item_has_children>.ast-menu-toggle::before {
        font-weight: 700;
        content: "\e900";
        font-family: Astra;
        text-decoration: inherit;
        display: inline-block;
    }
    .site-header .main-header-menu ul {
        background-color: #f9f9f9;
        position: static;
        opacity: 1;
        visibility: visible;
        border: 0;
        width: auto;
    }
    .site-header .submenu-with-border .sub-menu {
        border: 0;
        box-shadow: none;
    }
    .site-header .main-navigation ul ul {
        left: auto;
        right: auto;
    }
    .site-header .main-header-bar .main-header-bar-navigation .menu-item-has-children .sub-menu,
    .site-header .main-header-bar .main-header-bar-navigation .page_item_has_children .sub-menu {
        display: none;
        line-height: 3;
    }
    .site-header .main-navigation ul.children li a,
    .site-header .main-navigation ul.sub-menu li a {
        padding-left: 30px;
    }
    .site-header .main-navigation ul.children li li a,
    .site-header .main-navigation ul.sub-menu li li a {
        padding-left: 40px;
    }
    .site-header .main-navigation ul.children li a:before,
    .site-header .main-navigation ul.sub-menu li a:before {
        content: "\e900";
        font-family: Astra;
        font-size: .65em;
        text-decoration: inherit;
        display: inline-block;
        transform: translate(0, -2px) rotateZ(270deg);
        margin-right: 5px;
    }
    .site-header .main-navigation ul .button-custom-menu-item .ast-custom-button-link {
        display: none;
    }
    .site-header .main-navigation ul li.ast-masthead-custom-menu-items {
        padding: 0;
    }
}

@media (max-width:992px) {
    .uabb-photo-mob-align-center {
        text-align: center !important;
    }
    .uabb-ih-list-item .uabb-ih-item {
        height: auto;
    }
    .uabb-ih-list-item .uabb-ih-item .uabb-ih-info {
        opacity: 1 !important;
        visibility: visible !important;
        position: static;
        -webkit-transform: translateX(0%) !important;
        -moz-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        -o-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
        margin: 10px 0;
    }
    .uabb-ih-list-item .uabb-ih-item:hover .uabb-ih-image-block,
    .uabb-ih-list-item .uabb-ih-item.uabb-ih-hover .uabb-ih-image-block {
        opacity: 1 !important;
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        transform: scale(1) !important;
    }
    .uabb-ih-list-item .uabb-ih-item .uabb-ih-content {
        position: static;
    }
    .uabb-ib-effect-style1.uabb-ib2-min-height img {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    .product-detail-layout-default .fl-post-content>.row>.col-md-6,
    .product-detail-layout-default .fl-post-content>.row>.col-md-5 {
        width: 100%;
        max-width: 100%;
    }
    .responsive-button-wrapper-default {
        margin-bottom: 30px;
    }
}

@media (max-width:921px) {
    .ast-above-header-hide-on-mobile .ast-above-header-wrap {
        display: block !important;
    }
}

@media (max-width:768px) {
    .fl-col-small {
        max-width: none;
    }
    .fl-module-content-slider .bx-wrapper {
        margin-bottom: 0;
    }
    .fl-content-slider-navigation path {
        fill: #333;
    }
    .fl-module-content-slider .bx-wrapper .bx-has-pager {
        display: none;
    }
    .fl-module-content-slider .fl-slide-mobile-photo .fl-slide-mobile-photo-img {
        max-height: 480px;
        margin: 0 auto;
        width: auto;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content:empty {
        padding: 0;
    }
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
}

@media (max-width:699px) {
    .site-header .ast-above-header-section-wrap {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 2;
    }
    .site-header .ast-above-header-section-wrap .ast-above-header-section {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0;
    }
    .site-header .ast-above-header-section-wrap .ast-above-header-section .phone,
    .site-header .ast-above-header-section-wrap .ast-above-header-section a {
        display: inline-block;
    }
    .fl-module-list-icon .uabb-list-icon {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .fl-module-list-icon .uabb-list-icon .uabb-list-icon-wrap {
        margin-left: 0;
        margin-right: 0;
    }
    .active-gallery-modal .product-box a.fl-button {
        margin-left: auto;
        margin-right: auto;
    }
    .product-detail-layout-5 .button-wrapper .button {
        width: 83% !important;
    }
}

@media (max-width:420px) {
    .site-header .header-search {
        right: -10px;
        top: 15px;
    }
    .site-header .ast-mobile-menu-buttons {
        left: -10px;
    }
    .site-header .main-header-bar-wrap .site-branding {
        padding: 0 40px 0 60px;
    }
    .gform_wrapper ul li.gfield .ginput_recaptcha>div {
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -o-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
    }
}

@media (max-width:360px) {
    .site-header .ast-mobile-menu-buttons {
        top: 0px;
    }
    .site-header .header-search {
        top: 10px;
    }
}

.uabb-ib-effect-style1.uabb-ib2-min-height img {
    width: calc(100% + 40px) !important;
}

@media(max-width:992px) {
    .site-header .main-navigation li {
        position: relative !important;
    }
    .ast-above-header-section ul.storename {
        margin: 0 !important
    }
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}

.FloorteBtn .fl-button-wrap a.fl-button span {
    color: #fff !important;
}

.product-detail-layout-default .product-variations {
    clear: both;
}


/* Floorte Additional css start */

@media (max-width: 768px) {
    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col>.fl-col-content {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
        margin: 0px;
    }
    .product-box .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
        padding: 0 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row>.fl-row-content-wrap {
        padding-bottom: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row>.fl-row-content-wrap {
        margin-top: -49px!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd6>.fl-module-content,
    .fl-builder-content-97052 .fl-node-5d7f5495dece3>.fl-module-content {
        margin-top: 20px!important;
    }
    .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module>.fl-module-content {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba>.fl-col-content {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row>.fl-row-content-wrap {
        padding-top: 0px;
    }
    .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module>.fl-module-content {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .fl-builder-content-97052 .fl-visible-desktop-medium {
        display: none;
    }
    .fl-builder-content-97052 .fl-visible-mobile {
        display: block;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col>.fl-col-content {
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        text-align: center;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col>.fl-col-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495dece2>.fl-module-content {
        margin: 20px 0!important;
    }
}


/* Floorte Additional css end */

@media (max-width: 768px) {
    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col>.fl-col-content {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
        margin: 0px;
    }
    .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
        padding: 0 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row>.fl-row-content-wrap {
        padding-bottom: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row>.fl-row-content-wrap {
        margin-top: -49px!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd6>.fl-module-content,
    .fl-builder-content-97052 .fl-node-5d7f5495dece3>.fl-module-content {
        margin-top: 20px!important;
    }
    .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module>.fl-module-content {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba>.fl-col-content {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row>.fl-row-content-wrap {
        padding-top: 0px;
    }
    .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module>.fl-module-content {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .fl-builder-content-97052 .fl-visible-desktop-medium {
        display: none;
    }
    .fl-builder-content-97052 .fl-visible-mobile {
        display: block;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col>.fl-col-content {
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        text-align: center;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col>.fl-col-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495dece2>.fl-module-content {
        margin: 20px 0!important;
    }
}

.storename {
    list-style-type: none;
    padding-left: 0;
}

.fl-slide.fl-slide-0 .fl-slide-bg-photo {
    background-position: 0% 50%;
}